.logo {
    height: 50px;
    margin:0 0 16px 0;
    background: #000c17;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}